/*General*/

* {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background-color: black;
    background-image: url('../images/circles.png');
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;

}

.header {
    min-height: 80px;
}

footer {
    min-height: 507px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;

}

.main {
    min-height: calc(100vh - (80px + 507px));
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

input:focus,
textarea:focus {
    outline: none;
    color: white;
}

/*Header*/


.header_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 32px 0;
    gap: 100px;
}

.header_content_link_login {
    display: flex;
    justify-content: space-between;
    gap: 12px;

}

.header_content_link_login_sign_in {
    width: 96px;
    height: 40px;
    border: 1px solid;
    text-align: center;
    line-height: 40px;
    border-radius: 10px;
}

.header_content_sign_up {
    background: linear-gradient(to right, #18C8FF, #933FFE);
}

.header_content_list {
    display: flex;
    align-items: center;
    gap: 32px;


}

/*Section we wake*/

.we_wake_crypto_content {

    width: 780px;
    height: 345px;
    margin: 169px auto;

}

.we_wake_content_title {
    font-size: 85px;
    line-height: 130%;
    padding-bottom: 88px;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    text-align: center;
}

.we_wake_crypto_content_link {
    display: block;
    width: 170px;
    height: 56px;
    background: linear-gradient(to right, #18C8FF, #933FFE);
    border: 1px solid;
    border-radius: 10px;
    text-align: center;
    line-height: 56px;
    margin: 0 auto;
}

.we_wake_crypto_content_link:hover {
    box-shadow: 0px 0px 33px 5px #933FFE;
    transition: .3s;
}

/*Section Gestion*/
.gestion_content {
    display: flex;
    justify-content: space-between;
    gap: 10px;


}

.gestion_content_article {
    background-color: #1A1B23;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
    line-height: 30px;
    width: 380px;
    height: 346px;
    padding: 25px;
    margin-top: 300px;


}
.article_icon{
   align-items: center;
   justify-content: center;     
    
}

.gestion_content_article_part1 {
    width: 332px;
    height: 226px;
}

.gestion_content_article_part1 p {
    font-size: 16px;
    color: #898CA9;
}

.gestion_content_article a {
    font-size: 16px;
    color: #B982FF;
}
.image_article_1
{
    margin: 0 auto;
    width: 80px;
height: 79px;
opacity: 1;
border-radius: 711.74px;
border-width: 1px;
background: radial-gradient(111.14% 111.14% at 8.37% 0%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0) 100%) ;
border: 1px solid;

border-image-source: radial-gradient(86.84% 30.42% at 129.28% 66.93%, #8470FF 0%, rgba(134, 92, 255, 0) 100%);

backdrop-filter: blur(10px);
margin-bottom: 12px;


}
.icon_fleche_direction {
    color: #B982FF;
    width: 20px;
    padding-left: 7px;
    height: 10px;

}

/*Section crypto mining*/

.crypto_mining_content {
    margin-top: 30px;
    text-align: center;
    padding: 140px 70px;


}

.crypto_mining_content_part1 {
    margin: 30px 0;
}

.crypto_mining_content_part1 h2 {

    text-align: center;
    align-content: center;
    height: 194px;
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    line-height: 130%;
    font-weight: 900;

}

.crypto_mining_content_part1 p {
    color: #898CA9;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    letter-spacing: 70px;
}

/*Section   Service client*/

.service_client_content {
    display: flex;
    justify-content: center;

}


.service_client_content_part1 {

    width: 670px;
    height: 700px;
}

.service_client_content_part1 img {
    position: absolute;
    transform: rotate(2deg);
    opacity: 1;
    top: 46px;
    left: 140px;
}

#crypto_planet_service_client {
    position: absolute;
    background: url('../images/sphere.png') no-repeat center center;
    background-size: cover;
    width: 170px;
    height: 170px;
    opacity: 1;
    top: 185px;
    left: 500px;

}

.service_client_content_part2 {

    line-height: 150%;
    width: 580px;
    height: 347px;

}

.service_client_content_part2 h2 {
    font-size: 50px;
    line-height: 130%;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0%;
    font-weight: 900;
}

.service_client_content_part2 p {
    color: #898CA9;
    padding: 30px 0;

}

.service_client_content_part2 a {

    padding: 15px 30px;
}

/*Section crypto investing*/

.crypto_investing_content {
    display: flex;
    font-family: 'Inter', sans-serif;
    justify-content: space-between;
    margin-bottom: 90px;

}

.crypto_investing_content_part1 {
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 371px;
    padding-right: 2px;
}

.crypto_investing_content_part1 h2 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 900;
}

.crypto_investing_content_part1 p {
    margin: 20px 0;
    line-height: 35px;
    color: #898CA9;
}

.crypto_investing_content_part1_link {
    margin-left: 0px;
}

.crypto_investing_content_part2 {
    width: 294px;
    height: 298px;
    transform: rotate(0deg);
    opacity: 1;
    top: 61px;
    left: 144px;

}

/* Section Transmission*/
.transmission_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 780px;
    height: 193px;
    padding: 80px 200px;

}

.transmission_content h2 {
    font-size: 50px;
}

.transmission_content p {
    line-height: 83px;
    color: #898CA9;
}

.transmission_content span {
    color: white;
}

.transmission_content input {
    background-color: #0B0B0F;
    border-image-source: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
    width: 50%;
    border-image-slice: 1;
    padding: 22px;
    font-size: 20px;
    border-radius: 10px;
}



/*Section Footer*/

.footer_content {
    margin-top: 350px;
    display: flex;
    gap: 150px;
    opacity: 30%;
    line-height: 100%;
    justify-content: center;
    font-family: 'Inter', sans-serif;
}

.footer_content_part1 {
    width: 380px;
}

.footer_content_part1 p {
    padding-bottom: 30px;
}


.footer_content_part2 a {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.footer_content_part3 a {
    display: flex;
    align-items: center;
    padding-bottom: 30px;

}

.footer_content_part1 input {
    background-color: #0B0B0F;
    width: 75%;
    padding: 20px;
    border-image-source: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
    border-image-slice: 1;
    margin-bottom: 30px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}

/* Effet glass Les gradiant étoiles et planet*/
.glass
{
    position: absolute;
   width: 100px;
   height: 100px;
    top: 440px;
    left: 624px;
      padding: 2rem;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      backdrop-filter: blur(8px);
      -webkit-backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.2);
      box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
      color: white;
      text-align: center;
      z-index: 1;
      
      

}
.grad1 {
    position: absolute;
    height: 520px;
    width: 617px;
    background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17FFE3 100%);
    backdrop-filter: blur(200px);
    position: absolute;
    border-radius: 50%;
    top: -150px;
    left: -150px;
    filter: blur(145px);
    z-index: -5;
}

.grad2 {
    position: absolute;
    height: 520px;
    width: 617px;
    background: linear-gradient(112.72deg, #DECAFF 11.44%, #691EE2 60.27%);
    backdrop-filter: blur(200px);
    position: absolute;
    border-radius: 50%;
    top: 350px;
    right: -200px;
    filter: blur(145px);
    z-index: -5;
}
.grad3 {
    position: absolute;
    height: 493px;
    width: 493px;
    background: linear-gradient(180deg, #82392C 0%, #D0A22C 100%);
    backdrop-filter: blur(300px);
    position: absolute;
    border-radius: 50%;
    top: -70px;
    left: 300px;
    filter: blur(130px);
    z-index: -5;
}
.grad4 {
    position: absolute;
    height: 203px;
    width: 400px;
    background: linear-gradient(180deg, rgba(255, 79, 24, 0) 0%, #FF4117 100%);
    backdrop-filter: blur(50px);
    position: absolute;
    border-radius: 50%;
    top: 400px;
    left: 30px;
    filter: blur(400px);
    z-index: -7;
}
.grad5 {
    position: absolute;
    height: 450px;
    width: 617px;
    background: linear-gradient(180deg, #FF29C3, #00C2FF 100%);
    backdrop-filter: blur(200px);
    position: absolute;
    border-radius: 30%;
    top: 5px;
    right: 0px;
    filter: blur(170px);
    z-index: -5;
}
.etoile_bannier1{
      width: 200px;
  height: 200px;
  background: white;
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%, 
    68% 57%, 79% 91%, 
    50% 70%, 21% 91%, 
    32% 57%, 2% 35%, 
    39% 35%
  );

}

.crypto_bitcoin {
    background: url('../images/crypto_bitcoin.png') no-repeat center center;
    background-size: cover;
    /* Optional: scales image */
    position: absolute;
    width: 97px;
    height: 107px;
    transform: rotate(30deg);
    opacity: 1;
    top: 230px;
    left: 62px;

}

.crypto_planet {
    position: absolute;
    background: url('../images/sphere.png') no-repeat center center;
    background-size: cover;
    width: 110px;
    height: 110px;
    opacity: 1;
    top: 510px;
    left: 90px;
}

.crypto_7 {
    background: url('../images/crypto_7.png') no-repeat center center;
    background-size: cover;
    /* Optional: scales image */
    position: absolute;
    width: 97px;
    height: 107px;
    opacity: 1;
    top: 870px;
    left: 300px;


}

.crypto_losange {
    background: url('../images/crypto_losange.png') no-repeat center center;
    background-size: cover;
    /* Optional: scales image */
    position: absolute;
    width: 120px;
    height: 150px;
    opacity: 1;
    top: 340px;
    right: 160px;
    transform: rotate(30deg);
}

.crypto_1 {
    background: url('../images/crypto_1.png') no-repeat center center;
    background-size: cover;
    /* Optional: scales image */
    position: absolute;
    width: 120px;
    height: 150px;
    opacity: 1;
    top: 700px;
    right: 280px;
}

.crypto_sphere {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    opacity: 1;
    top: 510px;
    right: -50px;
    background: linear-gradient(112.72deg, #DECAFF 11.44%, #691EE2 60.27%);
    z-index: -3;
}

/* ecran desktop: {991px:max-width ou 992px:max-width} */